.button {
-fx-focus-color: transparent;
-fx-background-radius: 0;
-fx-border-style: none;
-fx-background-color: #282828;
-fx-border: 0;
-fx-min-width: 220px;
}

.button:hover {
-fx-background-color: #3A3A3A;
}

