.button {
    -fx-focus-color: transparent;
    -fx-background-radius: 0;
    -fx-border-style: none;
    -fx-background-color: #2F2F2F;
    -fx-border: 0;
    -fx-text-fill: BBBBBB;

}

.button:hover {
    -fx-background-color: #3A3A3A;
}

