@font-face {
    -fx-font-family: 'IBM Plex Sans';
}

#icon {
    -fx-text-fill: #BBBBBB;
    -fx-font-size: 16px;
}


#rootParent {
    -fx-background-color: #151515;
    -fx-font-size:        14px;
    -fx-font-family:      Arial;
}
/* BUTTON */
.button {
    -fx-focus-color:       transparent;
    -fx-background-radius: 0;
    -fx-border-style:      none;
    -fx-background-color:  rgb(50, 50, 50);
    -fx-text-fill:         #BBBBBB;
    -fx-min-width:         100;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
}
.navigationButton {
    -fx-background-color: transparent;
}

.button:hover, .navigationButton:hover {
    -fx-background-color: #505050;
}

#active, #active:hover {
    -fx-background-color: #50AA50;
    -fx-text-fill: white;
}

.logoutButton {
    -fx-text-fill:        #505050;
    -fx-background-color: transparent;
    -fx-font-size:        12;
    -fx-padding:          0;
    -fx-text-alignment:   right;
    -fx-min-width:        0;
}

.logoutButton:hover {
    -fx-background-color: none;
    -fx-text-fill: #FFFFFF;
}

.logoButton, .logoButton:hover {
    -fx-background-color: #202020;
}

.spacing {
    -fx-spacing: 10;
}

.padding {
    -fx-padding: 14;
}

.cardBackground {
    -fx-background-color: rgba(40, 40, 40, .8);
    -fx-background-radius: 5;
}

.deleteButton {
    -fx-text-fill:        #FFFFFF;
    -fx-background-color: #B22222;
}

.deleteButton:hover {
    -fx-background-color: #F26262;
}

.descriptionInput {
    -fx-min-height: 100;
}

/*NAVIGATION*/
#navigationParent {
    -fx-background-color: #2A2A2A;
}

/*PAGES*/
#pageParent{
    -fx-background:       transparent!important;
    -fx-background-color: transparent!important;
}



/*POSTS*/
.description {
    -fx-fill: #CCCCCC;
}

.tagContainer {
    -fx-spacing: 5;
    -fx-padding: 3 0 3 0;
}

.tag {
    -fx-background-color:  #303030;
    -fx-background-radius: 5;
    -fx-padding:           2 10 2 10;
}


/* Filter  */
.text-field, .text-area {
    -fx-background-color: #CCCCCC;
    -fx-background-radius: 0;

}

.combo-box .combo-box-popup .list-view, .list-cell {
    -fx-background-color:  #CCCCCC ;
    -fx-text-fill:         #000000 ;
    -fx-background-radius: 0;
}
.combo-box .combo-box-popup .list-cell:hover, .list-cell:filled:selected, .list-cell:filled:selected:hover{
    -fx-text-fill:        #000000 !important;
    -fx-background-color: #507750 !important;
}

.combo-box-popup, .list-view {
    -fx-min-height: 100;
    -fx-max-height: 100;

}



/*THE SCROLL BAR*/
.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color: transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color:     transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical   .track{
    -fx-background-color:  transparent;
    -fx-border-color:      transparent;
    -fx-background-radius: 0;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical   .thumb {
    -fx-background-color:  #2D2D2D;
    -fx-background-radius: 5;
}
