@font-face {
    -fx-font-family: Comfortaa-Bold;
    src:url('Comfortaa-Bold.ttf');
}

#icon {
    -fx-text-fill: #BBBBBB;
    -fx-font-size: 16px;
}

#navigationParent *, #pageParent{
    -fx-border-insets: 0, 0, 0;
    -fx-border-image-insets: 0, 0, 0;
    -fx-background-insets: 0, 0, 0;
}

#rootParent {
    -fx-font-size:        14px;
    -fx-text-fill:        #FFFFFF;
    -fx-background-color: #11111f;
    -fx-font-family: Comfortaa-Bold;
    -fx-border-insets: 0, 0, 0;
    -fx-border-image-insets: 0, 0, 0;
    -fx-background-insets: 0, 0, 0;
}
/* BUTTON */
.button {
    -fx-focus-color:       transparent;
    -fx-background-radius: 10;
    -fx-border-style:      none;
    -fx-background-color:  #3c3f47;
    -fx-text-fill:         #FFFFFF;
    -fx-min-width:         120;
}



.button:hover {
    -fx-background-color:  #6c6f77;
}


.navigationButton, .navigationButton SVGPath{
    -fx-background-color: transparent!important;
    -fx-fill:         #BBBBBB;
    -fx-min-height: 0;
    -fx-min-width: 70;
}

.navigationButton:hover, .navigationButton:hover SVGPath, .activeNavigation SVGPath,
.toolbar > .button:hover SVGPath {
    -fx-background-color: transparent!important;
    -fx-fill: #50C050!important;
 }

.search, .search SVGPath {
    -fx-min-width: 30!important;
    -fx-fill: white;
}

#active, #active:hover {
    -fx-background-color: #50AA50;
    -fx-text-fill: white;
}

.logoutButton {
    -fx-text-fill:        #505050;
    -fx-background-color: transparent;
    -fx-font-size:        12;
    -fx-padding:          0;
    -fx-text-alignment:   right;
    -fx-min-width:        0;
}

.logoutButton:hover {
    -fx-background-color: none;
    -fx-text-fill: #FFFFFF;
}

.logoButton, .logoButton:hover {
}

.spacing {
    -fx-spacing: 10;
}

.padding {
    -fx-padding: 5 14 5 14;
}

.cardBackground {
    -fx-background-color: #21242d;
    -fx-background-radius: 5;
}

.deleteButton {
    -fx-text-fill:        #FFFFFF;
    -fx-background-color: #B22222;
}

.deleteButton:hover {
    -fx-background-color: #F26262;
}

/*NAVIGATION*/
#navigationParent {
    -fx-background-color: #21242d;
}

/*PAGES*/
#pageParent{
    -fx-background:       transparent!important;
    -fx-background-color: #11111f;
}

#maxWidth {
    -fx-max-width: 1200;
}

.toolbar > .button, .toolbar > .button SVGPath {
    -fx-background-color: transparent!important;
    -fx-min-width: 15!important;
    -fx-fill: white;
}


/*POSTS*/
.description {
    -fx-fill: #CCCCCC;
}

.tagContainer {
    -fx-spacing: 5;
    -fx-padding: 3 0 3 0;
}

.tag {
    -fx-background-color:  #3c3f47;
    -fx-text-fill:         #BBBBBB;
    -fx-background-radius: 5;
    -fx-padding:           2 10 2 10;
}

.title {
    -fx-font-size: 22;
    -fx-font-weight: 900;
}


/* Filter  */
.text-field, .text-area, .text-area .content {
    -fx-background-color: #21242d;
    -fx-text-fill: #BBBBBB;
    -fx-background-radius: 10;
    -fx-prompt-text-fill: #909090;

}
.text-field, .text-area .content {
    -fx-background-insets: 0 0 0 0, 0, 0, 0;

}


.combo-box {
    -fx-background-color: #21242d;
    -fx-background-radius: 10;
    -fx-padding: 0;

}









/*THE SCROLL BAR*/
.scroll-bar * {
    -fx-pref-width: 10;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color: transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color:     transparent;
}


.scroll-bar:horizontal .track,
.scroll-bar:vertical   .track{
    -fx-background-color:  transparent;
    -fx-border-color:      transparent;
    -fx-background-radius: 0;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical   .thumb {
    -fx-background-color: #21242d;
    -fx-background-radius: 5;
}
